
<div class="col-md-6">
<h2> User Details</h2>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>Id</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>{{user.department}}</td>
    </tr>
    <tr>
      <td>Salary</td>
      <td>{{user.salary}}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
</div>
